@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.main-content {
  padding: 20px;
  padding-left: 270px;
}

h1 {
  color: #2F8C85;
}

.filters {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

input, select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 38px;
  font-size: 15px;
}

button {
  padding: 10px 15px;
  background-color: #2F8C85;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.no-records {
  display: none;
  color: red;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

th {
  background-color: #2F8C85;
  color: white;
  padding: 12px;
  text-align: left;
}

td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}
